/* This file is for your main application css. */
html,
body {
   margin:0;
   padding: 20px;
   height:100%;
}

#player {
  width: 50%;
}

#input {
  width: 100%;
  outline: 1px solid #eee;
}

#footer {
  padding: 10px 0;
}
