{
  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true
  },
  "globals": {
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "jest/no-disabled-tests": 0,
    "comma-dangle": ["error", "never"]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended", "prettier"]
}
