.Spinner {
  width:42px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@keyframes first {
  from { opacity: 1 }
  to { opacity: 1 }
}
@keyframes second {
  0% {
    opocity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes third {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;

  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.Spinner--dot {
  opacity: 0;
  width: 18px;
  text-align: center;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
}
.Spinner--dot--first {
  animation-name: first;
}
.Spinner--dot--second {
  animation-name: second;
}
.Spinner--dot--third {
  animation-name: third;
}
.Spinner--dot:after {
  content: " \b7"; /* &middot; */
}
