.EntityForm+.EntityForm {
  border-top: 1px solid #ccc;
}

.EntityForm .form-row--secondary,
.EntityForm .form-row {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.EntityForm .form-row--secondary:last-child,
.EntityForm .form-row:last-child {
  margin-bottom: 0;
}

.EntityForm .form-label--secondary,
.EntityForm .form-label {
  font-size: 10px;
  color: #666;
  margin-right: 10px;
  width: 100%;
}

.EntityForm .form-label {
  text-transform: uppercase;
}

.EntityForm input,
.EntityForm textarea,
.EntityForm .Select-value,
.EntityForm .Select-value-label,
.EntityForm .Select-menu-outer {
  font-size: 14px;
}

.EntityForm input, .EntityForm textarea {
  padding: 6px;
}

.EntityForm .form-input {
  width: 100%;
}

.EntityForm__state {
  margin-top: 20px;
  font-size: smaller;
  max-width: 100%;
}

.EntityForm__state pre {
    font-size: inherit;
    overflow-x: scroll;
}

.EntityForm__remove-behavior {
  position: absolute;
  top: 5px;
  right: 5px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-actions button+button {
  margin-left: 10px;
}

label[required]:after {
  content: "*";
  margin-left: 5px;
}
