@import "components/Doro.css";
@import "buttons.css";
html,
body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: sans-serif;
}

#root {
  padding: 0 20px;
}

.App {
  font-family: monospace;
}
